---
const { title } = Astro.props.frontmatter || Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full">
			<div class="mb-2 sm:mb-0">
			  <a href="/" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark">My Blog</a>
			</div>
			<div>
			  <a href="/posts/" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Posts</a>
			</div>
		  </nav>
		<div class="container max-w-full  bg-brand">
			<div class="mx-auto max-w-xl px-4 py-8">
				<h1 class="text-4xl text-white font-bold mb-4">{title}</h1>
				<slot />
			</div>
		</div>
	</body>
</html>
